# .NET
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates

# SQLite (Específico para tu proyecto)
*.db
*.db-shm
*.db-wal

# VS Code / Visual Studio
.vs/
.vscode/

# Generated for AI promp
codigo_completo.txt